<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= page_title = (current_page.blank?) ? ((@page_title.blank?) ? 'OMLN' : @page_title) : current_page.ancestors[1..current_page.ancestors.size].collect{|sec| sec.name}.push(current_page.name).join(' &raquo; ') %> :: ScoreCard</title>

  <%= stylesheet_link_tag 'grid/960' %>
  <%= stylesheet_link_tag 'grid/reset' %>
  <%= stylesheet_link_tag 'grid/text' %>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag 'prototype' %>
  <%= javascript_include_tag 'effects' %>
  <%= javascript_include_tag 'jquery-1.3.2.min' %>
  <%= javascript_include_tag 'jquery-ui-1.7.2.custom.min' %>
  <%= javascript_include_tag 'cmxforms' %>
  <%= javascript_include_tag 'jquery.metadata' %>
  <%= javascript_include_tag 'jquery.validate' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :html_head %>
</head>
<body>
<% if Rails.env == 'development' %>
  <h1 style="color:red; text-align: center;">DEVELOPMENT SITE</h1>
<% end %>

<%= cms_toolbar %>
<div class="errorExplanation"><p style="color: green"><%= flash[:notice] %></p><p style="color: red"><%= flash[:error] %></p></div>
<div id="content" class="container_12">
  <div id="header">
    <div id="banner" class="grid_8">
      BANNER<br /><br /><br /><br />
    </div>
    <div id="navigation" class="grid_4">
      Navigation<br /><br /><br /><br />
    </div>
  </div>
  <div id="main" class="container_12">
    <%= container :main %>
  </div>
</div>

</body>
</html>
